{% extends "base.html" %}

{%block content%}
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         <span class="alert alert-success">
            {{ message }}
         </span>
      {% endfor %}
   {% endif %}
{% endwith %}
<hr>
<form action="{{url_for('adddata')}}" method="POST">
    <label for="">Username</label>
    <input type="text" name="username" class="form-control" placeholder="ชื่อผู้ใช้">
    <label for="">Password</label>
    <input type="text" name="password" class="form-control" placeholder="รหัสผ่าน">
    <label for="">Firstname</label>
    <input type="text" name="fname" class="form-control" placeholder="ชื่อจริง">
    <label for="">Lastname</label>
    <input type="text" name="lname" class="form-control" placeholder="นามสกุล">
    <label for="">Nickname</label>
    <input type="text" name="nickname" class="form-control" placeholder="ชื่อเล่น">
    <br>
    <input type="submit" value="Save" class="btn btn-success">
    <a href="{{url_for('showdata', page_num=1)}}" class="btn btn-primary">Return to home page</a>
</form>
{% endblock %}