{% extends "base.html" %}

{%block content%}
<div class="alert alert-primary" role="alert">
    {% if not data %}
        ลงชื่อเข้าสู่ระบบ
    {% else %}
        {{data}}
    {%endif%}
</div>
<form action="{{url_for('login')}}" method="post">
    <label for="">Username</label>
    <input type="text" name="username" class="form-control">
    <label for="">password</label>
    <input type="password" name="password" class="form-control">
    <br>
    <input type="submit" value="Login" class="btn btn-success">
    <a href="/signup-page" class="btn btn-secondary">สมัครสมาชิก</a>
</form>

{% endblock %}