{% extends "base.html" %}

{%block content%}
<div class="alert alert-secondary" role="alert" align="center">
    แสดงข้อมูล
</div>
<table class="table table-striped table-bordered table-sm" id="showData">
    <thead>
        <tr>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Nickname</td>
            <td>จัดการ</td>
        </tr>
    </thead>
    {% for row in data %}
        <tr>
            <td>{{row.fname}}</td>
            <td>{{row.lname}}</td>
            <td>{{row.nickname}}</td>
            <td>
                <a href="/edit/{{row.id}}" class="btn btn-success btn-sm">แก้ไข</a>
                <a href="/delete/{{row.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you delete?')">ลบ</a>
            </td>
        </tr>
    {% endfor %}
</table>
<a href="/" class="btn btn-warning">กลับสู่หน้าหลัก</a>
<script>
    $(document).ready(function () {
        $('#showData').DataTable();
    });
</script>
{% endblock %}